.app-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container {
  width : 230px;
  /* height: 300px; */
  margin: 16px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-container img {
  width: 100%;

}


.movie-info h4 {
  margin: 0;
  width: 85%;
  font-size: 11px;
}

.movie-info {

  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}